body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    color: white;
    height: 303px;
    background-image: url(./images/Vector.png);
}

.topPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

#logo {
	height: 35px;  
    width: auto;

}

ul {
    font-size: 20px;
    list-style-type: none;
    border-left: white solid 1px;
    padding-left: 20px;

}

.title {
    text-align: center;
    width: 250px;
    margin: 0 auto;
}

h1 {
    margin: 0px;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.0rem;
}

h3 {
    font-size: 0.8rem;
}

.introduction {
    color: #888888;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    position: relative;
    top: -30px;
}

.textIntro {
    font-size: 0.7rem;
}