body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    color: white;
    height: 280px;
    background-image: url(./images/Vector.png);
    background-size: 100% 280px;
}

.topPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

#logo {
    height: 35px;
    width: auto;
}

.season {
    font-size: 20px;
    list-style-type: none;
    border-left: white solid 1px;
    padding-left: 20px;
}

.title {
    text-align: center;
    width: 250px;
    margin: 0 auto;
}

h1 {
    margin: 0px;
    font-size: 1.8rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
}

.introduction {
    color: #888888;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    position: relative;
    top: -30px;
}

.textIntro {
    font-size: 0.7rem;
}

#titreIntro {
    line-height: 1.5rem;
}


/* PROJET */

.borderTop {
    height: 50px;
    background-image: url(images/background_top.png);
    background-size: 100% 100%;
}

.borderBot {
    height: 45px;
    background-image: url(images/background_bottom.png);
    background-size: 100% 100%;
}

.projet {
    color: white;
    text-align: center;
    flex-direction: column;
    background-color: #f65454;
}

.projet h4 {
    margin-top: 0;
}

.article p {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.article {
    align-items: center;
}

.projetFictif h3 {
    margin-left: 1rem;
}

.description_projet {
    margin-top: 10px;
    margin-bottom: 0;
}

.projetFictif ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 10px;
}

.projetFictif ul li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #f65454;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}

.chapter>h2 {
    text-align: center;
    color: #888888;
}

.containerEvaluation {
    display: flex;
    justify-content: space-around;
}

.containerEvaluation h2 {
    font-size: 0.8rem;
    color: #f65454;
    text-align: center;
}

.containerEvaluation p {
    color: #888888;
    font-size: 0.7rem;
    text-align: center;
}

.containerEvaluation div {
    margin: 20px;
    width: 50%;
}

.containerSkill {
    display: flex;
    justify-content: space-around;
}


/* PROJET END */

.topEventHackathon {
    text-align: center;
    background: linear-gradient(#fcd3d3, white);
    padding-top: 1rem;
    color: #f76C6C
}

#firstImageEvent {
    width: min(90%, 800px);
}

.eventCard {
    border-radius: 50px;
    background: linear-gradient(#f76C6C, #fcd3d3);
    text-align: center;
    color: white;
    display: inline-block;
    width: min(300px, 100%);
    margin: 1.5rem;
}

.eventCardImg {
    width: 70%;
    padding-top: 1rem;
}

.bottomEventHackathon {
    text-align: center;
    background: linear-gradient( white, #fcd3d3);
    padding: 0.8rem 0rem;
    color: #f76C6C
}

.cardsContainer {
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .title,
    .introduction {
        width: 600px;
    }
    .introduction {
        padding-top: 20px;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1rem;
    }
    .textIntro {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 1024px) {
    .title,
    .introduction {
        width: 1000px;
    }
    .introduction {
        padding-top: 20px;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1rem;
    }
    .textIntro {
        font-size: 0.9rem;
    }
}
