body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    color: white;
    height: 280px;
    background-image: url(./images/Vector.png);
    background-size: 100% 280px;
}

.topPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

#logo {
    height: 35px;
    width: auto;
}

.season {
    font-size: 20px;
    list-style-type: none;
    border-left: white solid 1px;
    padding-left: 20px;
}

.title {
    text-align: center;
    width: 250px;
    margin: 0 auto;
}

h1 {
    margin: 0px;
    font-size: 1.8rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
}

.introduction {
    color: #888888;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    position: relative;
    top: -30px;
}

.textIntro {
    font-size: 0.7rem;
}

#titreIntro {
    line-height: 1.5rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .title,
    .introduction {
        width: 600px;
    }
    .introduction {
        padding-top: 20px;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1rem;
    }
    .textIntro {
        font-size: 0.9rem
    }
}

@media only screen and (min-width: 1024px) {
    .title,
    .introduction {
        width: 1000px;
    }
    .introduction {
        padding-top: 20px;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1rem;
    }
    .textIntro {
        font-size: 0.9rem
    }
}
